@model IEnumerable<SoundBlog.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>

                    </tr>
        }
    </tbody>
</table>